* {
  background-color: #afd0bf;
  margin: 0 auto;
  padding: 0;
}

@font-face {
  font-family: logo-font;
  src: url(../public/fonts/Agbalumo-Regular.ttf) format("truetype");
}
header {
  font-family: "logo-font";
  color: #e2efde;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 3rem;
}

header > h1 {
  font-size: 3rem;
}

header > nav > ul {
  font-size: 1.25rem;
  display: flex;
}

header > nav > ul > li {
  margin-right: 65px;
  margin-top: 13px;
}
