* {
  margin: 0 auto;
  padding: 0;
}
body {
  background-color: #afd0bf;
}
@font-face {
  font-family: logo-font;
  src: url(/fonts/Agbalumo-Regular.ttf) format("truetype");
}

header {
  margin: 0;
  padding: 0;
  font-family: "logo-font";
  color: #e2efde;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  padding: 10px;
  max-width: 100%;
  overflow: hidden;
}

header.authenticated-header {
  display: flex;
}

header > nav {
  display: flex;
  width: 100%;
  margin-left: 550px;
  height: 50px;
}

header > h1 {
  font-size: 1.895rem;
  margin-top: 10px;
  margin-left: 50px;
}
.underline {
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
  border-image: url("../public/imgs/rrrepeat.svg") 1 repeat;
  padding-bottom: 5px;
}

h1 {
  width: 300px;
}
h1 > a {
  text-decoration: none;
  color: #e2efde;
}

header > nav > ul {
  margin-top: 20px;
  font-size: 1.25rem;
  display: flex;
}

header > nav > ul > li {
  color: #e2efde;
  margin-right: 65px;
  list-style: none;
  display: flex;
  align-items: center;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: #e2efde;
  display: inline-block;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}
header > nav > ul > li > a:hover {
  transform: scale(1.3);
  color: #7b9674;
}
header > nav > ul > li > a:active {
  transform: scale(1.2);
  color: #1e4912;
}

div.profile {
  display: flex;
  align-items: center;
  width: 300px;
  margin-right: 220px;
}

img.profile-picture {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 20px;
}
div.profile-info {
  display: flex;
  margin-right: 30px;
  width: 300px;
  margin-top: 17px;
}

p.profile-welcome {
  width: 400px;
}

button {
  color: #e2efde;
  padding: 2px 15px;
  border: none;
  font-family: logo-font;
  font-size: 1.25rem;
  background-color: #bd8b9c;
  border-radius: 15px;
  border: #7b9674 2px solid;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  width: 150px;
}

button:hover {
  transform: scale(1.1);
  border: #647b5e 2px solid;
}

button:active {
  transform: scale(1.1);
  background-color: #a06f7f;
  color: #e2efde;
  border: 2px solid;
}
