* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: logo-font;
}
@font-face {
  font-family: logo-font;
  src: url(/fonts/Agbalumo-Regular.ttf) format("truetype");
}
h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20px;
}

img.social-media {
  width: 580px;
  height: 400px;
  position: relative;
  padding: 20px;
  margin-left: 150px;
  margin-top: 70px;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.profile {
  text-align: left;
  padding: 10px;
  display: block;
  justify-content: center;
}

.profilePic {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  object-fit: cover;
}

h3 {
  margin: 0;
  color: #333;
}

.home-section-1 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 50px;
  height: 100vh;
}

.quotes {
  font-size: 3.5rem;
  color: #e2efde;
  padding: 30px;
  background-color: transparent;
}

.h2-1 {
  margin-left: 120px;
}

.h2-2 {
  margin-left: 250px;
}

.red-text {
  color: #bd8b9c;
  text-decoration: underline;
}

.green-text {
  color: #7b9674;
  text-decoration: underline;
}

h3 {
  width: 80%;
  color: #e2efde;
}

.home-section-2 {
  height: 250vh;
  background-color: #bd8b9c;
  margin: 0;
}

.home-section-3 {
  height: 20vh;
  background-color: #e2efde;
  margin: 0;
}

.svg1 {
  background-color: #bd8b9c;
}

.item {
  background-color: #e2efde;
  border: 2px solid black;
}

.container {
  background-color: #bd8b9c;
  max-width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  margin-bottom: 120px;
}

.column {
  padding: 1rem 0;
  flex: 1;
  text-align: center;
  height: 400px;
  color: #e2efde;
}

.column-border {
  padding: 1rem 0;
  flex: 1;
  text-align: center;
  height: 400px;
  color: #e2efde;
  background-color: #afd0bf;
  box-shadow: 0px 0px 10px 3px #3e4340;
  border-radius: 20px;
  margin-left: 75px;
  overflow: hidden;
  font-size: 1.95rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-border p {
  word-wrap: break-word;
  padding: 10px;
}

.About-Us {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #e2efde;
  width: 70%;
  opacity: 70%;
  border: 3px solid #bd8b9c;
  box-shadow: 0px 0px 10px 3px #bd8b9c;
}

.vicky-photo {
  width: 25%;
  height: 25%;
  border-radius: 100%;
}

.jonathan-photo {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

.cailum-photo {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

.redsvg {
  background-color: #afd0bf;
}

.computer-img {
  height: 350px;
  margin-top: 20px;
}

.meeting-img {
  height: 350px;
  margin-left: 80px;
}

.chart-img {
  height: 400px;
}

.column:hover {
  animation: rotateAndExpand 2s infinite;
}

@keyframes rotateAndExpand {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(15deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
