* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: logo-font;
}
@font-face {
  font-family: logo-font;
  src: url(/fonts/Agbalumo-Regular.ttf) format("truetype");
}
h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20px;
}

img.social-media {
  width: 580px;
  height: 400px;
  position: relative;
  padding: 20px;
  margin-left: 150px;
  margin-top: 70px;
}

.profile {
  text-align: left;
  padding: 10px;
  display: block;
  justify-content: center;
}

.profilePic {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  object-fit: cover;
}

h3 {
  margin: 0;
  color: #333;
}

.home-section-1 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 50px;
  height: 100vh;
}

.quotes {
  font-size: 3.5rem;
  color: #e2efde;
  padding: 30px;
  background-color: transparent;
}

.h2-1 {
  margin-left: 120px;
}

.h2-2 {
  margin-left: 250px;
}

.red-text {
  color: #bd8b9c;
  text-decoration: underline;
}

.green-text {
  color: #7b9674;
  text-decoration: underline;
}

h3 {
  width: 80%;
  color: #e2efde;
}

.home-section-2 {
  height: 250vh;
  background-color: #bd8b9c;
  margin: 0;
}

.home-section-3 {
  height: 150vh;
  background-color: #e2efde;
  margin: 0;
}

.svg1 {
  background-color: #bd8b9c;
}

.item {
  background-color: #e2efde;
  border: 2px solid black;
}

.container {
  background-color: #bd8b9c;
  max-width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.column {
  background-color: #bd8b9c;
  padding: 1rem 0;
  flex: 1;
  text-align: center;
  height: 400px;
}

.About-Us {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #e2efde;
  width: 70%;
  opacity: 70%;
  border: 3px solid #bd8b9c;
  box-shadow: 0px 0px 10px 3px #bd8b9c;
}

.theTeam {
  margin: 0 auto;
  display: flex; 
  flex-direction: column;
  text-align: center;
 
}

.Vicky {

  padding-bottom: 10%;
}

.Jonathan {

  padding-bottom: 10%;
}

.Cailum {

  padding-bottom: 10%
}

.photo {
  
  width: 50%;
  height: 50%;
  border-radius: 100%;
  align-items: center;
  padding-top: 10%;
  

}

.redsvg {
  background-color: #afd0bf;
}
